@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
    /* Enable smooth scrolling behavior */
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #2c7ef2;
    border-radius: 10px;
}



body {
    width: 100vh;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(13, 75, 160));
}


.navbar {
    border-radius: 3px;
    height: 100%;
    width: 7%;
    /* Adjust width as needed */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 51);
    padding-top: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.navbar a {
    padding: 6px 8px 25px 16px;
    align-items: center;
    text-decoration: none;
    font-size: 150%;
    color: white;
    display: block;
}

.navbar a:hover {
    color: #2c7ef2;
}

.navbar a:last-child {
    margin-bottom: 0;
    /* Remove margin for the last link */
}

@media (max-width: 768px) {
    .navbar {
        position: sticky;
        width: 100%;
        /* Change width to full on smaller screens */
        height: auto;
        /* Auto height to fit content */

        padding: 10px 0;
        /* Adjust padding */
    }

    .navbar a {
        padding: 10px 15px;
        /* Adjust padding */
        font-size: 100%;
        /* Adjust font size */
        margin: 0 5px;
        /* Add margin between links */
        float: left;
    }
}

.hr {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: rgb(252, 249, 249);
}

.marquee {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    position: absolute;
}

.marquee-content {
    display: inline-block;
    font-size: 20px;
    color: red;
    font-weight: 900;
    white-space: nowrap;
    animation: marquee 7s linear infinite;
    transform: translateX(0%);
    /* Start from the left edge of the page */
}

@keyframes marquee {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(120%);
    }
}

/* Styles for the tables */
.table-container {
    display: none;
    /* Initially hide all tables */
    margin-top: 5%;
}

.active {
    display: block;
    /* Display active table */
}

/* Styles for arrow keys */
.arrow-keys {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    text-align: center;
}

.table-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Adjust margin as needed */
}

.table-navigation .arrow-btn {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

#student-details span,
i {
    font-size: 25px;
    font-weight: 900;
    /* Change the font size to your desired value */
}

#academic-performance span,
i {
    font-size: 25px;
    font-weight: 900;
    /* Change the font size to your desired value */
}


.heading {
    margin: 10px 0;
}

.heading2 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
}

.heading2 i {
    margin-right: 5px;
}

.heading2 hr {
    border: 1px solid black;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.ssn-logo {
    width: 100px;
}



.container {
    position: absolute;
    width: 80%;
    background-color: #fff;
    margin: 60px 13%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    margin-bottom: 500px;
    z-index: 1;
}

.container::after {
    position: absolute;
    content: "";
    bottom: -60px;
    height: 60px;
    width: 1px;
}



.details-container {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #1b1f24;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.details-container i {
    color: #FF5F1F;
}




.student-details {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.details {
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #28293d;
}


.details:hover {
    transition: all 0.2s ease-out;
    transform: translateY(-10px);
}

.details.small {
    width: 260px;
}

.details.large {
    width: 450px;
}

.details span {
    font-size: 16px;
    font-weight: 700;
}

.details p {
    font-size: 17px;
}

.details i {
    font-size: large;
    margin-right: 5px;
    color: #FF5F1F;
}

.details hr {
    margin: 5px 0;
}


.cat-container {
    margin: 0 auto;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
}

.cat-container h4 {
    margin: 10px;
}

.cat-container input {
    width: 500px;
    padding: 10px;
    margin: 10px 0 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow-btn {
    margin: 25px;
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0d4ba0;
}

.styled-table {
    border-collapse: collapse;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #0d4ba0;
}

.styled-table thead tr {
    background-color: #0d4ba0;
    color: #ffffff;
    border-right: 2px solid white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-right: 2px solid #0d4ba0;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr .sub-name {
    font-weight: 600;
    text-align: left;
}

.styled-table tbody tr .sub-credit {
    font-weight: 600;
}

.styled-table tbody tr .sub-mark {
    font-weight: 500;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.avg-cat-details {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
}


.cat-card {
    border-radius: 25px;
    background-color: #FFF;
    width: 250px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.cat-card:hover {
    transition: all 0.2s ease-out;
    transform: translateY(-10px);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.cat-card-title,
.cat-card-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.cat-card-title {
    position: relative;
    color: white;
    font-size: 20px;
    align-items: left;
    justify-content: center;
    height: 130px;
}

.cat-card-title p {
    position: relative;
    font-weight: 500;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1164d8;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #1164d8;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}


.cat-card-content {
    justify-content: center;
}

.mark,
.attendance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-right: 10px;
}

.description {
    font-size: 18px;
    text-align: center;
}




.graphs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 225px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0 25px;
    margin: 0 20px;
    border: 4px dashed #1164d8;
    /* border-style: groove; */
}

.graphs:hover {
    transition: all 0.2s ease-out;
    transform: translateY(-10px);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.graphs .avg-percentage {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}







.sem-container {
    width: 100%;
}

.sem-details {
    padding: 15px 0;
    display: inline-block;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 499px;


}

.sem-card {
    flex-basis: calc(25% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
    padding: 30px 20px;
    background-color: #1d204b;
    position: relative;
}

.sem-card:hover .sem-card-bg {
    transform: scale(10);
}

.sem-card-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}


.sem-card-content {
    z-index: 2;
    position: relative;
    font-weight: bold;
    font-size: 27px;
    color: #f9b234;
    transition: color .5s ease;
}

.sem-card-bg {
    height: 128px;
    width: 128px;
    background-color: #0d4ba0;
    z-index: 1;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 50%;
    transition: all .5s ease;
}

.notice-board {
    width: 100%;
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.notice-board .notice {
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #2c7ef2;
}